$selectors: (
  "": '',
  "-hover": ':hover',
  "-active": ':active',
  "-focus": ':focus',
  "-before": '::before',
) !default;

$rounded: (
  0: 0,
  "1": 2px,
  "2": 5px,
  "3": 7px,
  "4": 12px,
  "5": 19px,
  "6": 31px,
  "7": 50px,
  "8": 81px,
  "9": 131px,
  "pill": 9999px,
  "circle": 50%,
) !default;

$stroke-gap: 1;
$stroke-widths: () !default;
@for $i from 0 through 9 {
  $stroke-widths: map-merge(
    $stroke-widths,
    (
      $i: $stroke-gap * $i,
    )
  );
}
$spacer: 4px !default;
$spacers: () !default;
@for $i from 0 through 20 {
  $spacers: map-merge(
    $spacers,
    (
      $i: $spacer * $i,
    )
  );
}
$negative-spacers: () !default;
@for $i from 1 through 20 {
  $negative-spacers: map-merge($negative-spacers, ("n" + $i: -$spacer * $i));
}

$grid-breakpoints: (
  "": 0px,
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
  "xl": 1920px,
) !default;

$font-weights: (
  "1": 100,
  "2": 200,
  "3": 300,
  "4": 400,
  "5": 500,
  "6": 600,
  "7": 700,
  "8": 800,
  "9": 900,
) !default;

$font-sizes: (
  "1": 0.875rem,
  "2": 1rem,
  "3": 1.25rem,
  "4": 1.5rem,
  "5": 1.75rem,
  "6": 2.125rem,
  "7": 3rem,
  "8": 3.75rem,
  "9": 4.5rem,
) !default;
$border-width: 1px;
$border-positions: 
(
  '': #{$border-width} #{$border-width} #{$border-width} #{$border-width},
  '-top': #{$border-width} 0px 0px 0px,
  '-top-right': #{$border-width} #{$border-width} 0px 0px,
  '-bottom-left':  0px 0px #{$border-width} #{$border-width},
  '-bottom': 0px 0px #{$border-width} 0px,
  '-left':  0px 0px 0px #{$border-width},
  '-top-left':  #{$border-width} 0px 0px #{$border-width},
  '-right':  0px #{$border-width} 0px 0px,
  '-bottom-right': 0px #{$border-width} #{$border-width} 0px,
) !default;

$directions: 
(
  'radial': '',
  'bottom': to bottom,
  'bottom-left':  to bottom left,
  'left':  to left,
  'top-left':  to top left,
  'top': to top,
  'top-right': to top right,
  'right':  to right,
  'bottom-right': to bottom right,
) !default;
