$selectors: (
  "": '',
  "-hover": ':hover',
  "-active": ':active',
  "-focus": ':focus',
  "-disabled": ':disabled',
  "-before": '::before',


) !default;

$rounded: (
  0: 0,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 24px,
  "6": 32px,
  "7": 40px,
  "8": 50px,
  "9": 60px,
  "10": 9999px,
  "circle": 50%,
) !default;

$spacer: 3px !default;
$spacers: () !default;
@for $i from 0 through 20 {
  $spacers: map-merge(
    $spacers,
    (
      $i: $spacer * $i,
    )
  );
}
$negative-spacers: () !default;
@for $i from 1 through 20 {
  $negative-spacers: map-merge($negative-spacers, ("n" + $i: -$spacer * $i));
}

$grid-breakpoints: (
  "": 0px,
  "sm": 600px,
  "md": 960px,
  "lg": 1280px - 16px,
  "xl": 1920px - 16px,
) !default;

$font-weights: (
  "1": 100,
  "2": 200,
  "3": 300,
  "4": 400,
  "5": 500,
  "6": 600,
  "7": 700,
  "8": 800,
  "9": 900,
  "10": 1000,
) !default;

$font-sizes: (
  "1": 0.875rem,
  "2": 1rem,
  "3": 1.25rem,
  "4": 1.5rem,
  "5": 1.75rem,
  "6": 2.125rem,
  "7": 3rem,
  "8": 3.75rem,
  "9": 4.5rem,
  "10": 6rem,
) !default;

$border-positions: 
(
  '': 2px 2px 2px 2px,
  '-top': 2px 0px 0px 0px,
  '-top-right': 2px 2px 0px 0px,
  '-bottom-left':  0px 0px 2px 2px,
  '-bottom': 0px 0px 2px 0px,
  '-left':  0px 0px 0px 2px,
  '-top-left':  2px 0px 0px 2px,
  '-right':  0px 2px 0px 0px,
  '-bottom-right': 0px 2px 2px 0px,
) !default;

$directions: 
(
  'radial': '',
  'bottom': 0deg,
  'bottom-left':  45deg,
  'left':  90deg,
  'top-left':  135deg,
  'top': 180deg,
  'top-right': 225deg,
  'right':  270deg,
  'bottom-right': 315deg,
) !default;
