@mixin border($color_value, $border_width) {
  border-color: $color_value !important;
  border-width: $border_width !important;
  border-style: solid;

}

.app .border-none {
  border-color: transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
}
.app .border-none-hover:hover {
  border-color: transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
  
}
.app .border-hidden-hover:hover {
  border-color: transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
}
.app .gradient-border {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    background-origin: border-box;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-mask: linear-gradient(#fff, #fff) padding-box, radial-gradient(120% 160%, #ffffff 44%,  #ffffff00);
    mask: linear-gradient(#fff, #fff) padding-box, radial-gradient(120% 160%, #ffffff 44%,  #ffffff00);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
@each $selector_name, $selector_value in $selectors {
@each $border_name, $border_position in $border-positions {
  @each $color_name, $color_colors in $colors {
    @each $color_type, $color_value in $color_colors {
          .app .border#{$border_name}-#{$color_name}#{$color_type}#{$selector_name}#{$selector_value} {
            @include border($color_value, $border_position);
          }           
    }
  }
}
}